.register{
    background: -webkit-linear-gradient(left, #193f05, #6dd585);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    margin-top: 3%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 20%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active {
    border-bottom-right-radius: 0px;
    /* width: 100px; */
    color: #0062cc;
    /* border: 2px solid #0062cc; */
    /* border-top-left-radius: 1.5rem; */
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.red{
    color: red;
}
.img-border{
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 2px solid #ced4da;
}
.inside-ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}
@media screen and (max-width:768px){
    .img-border{
        margin-bottom: 1rem;;
    }
    .register-left h3{
        font-size: 30px;
    }
    .register{
        margin-top: 0;
    }
    .register-left img{
        margin-top: 0;
        width: 40%;
    }
    .inside-ul{
        padding: 0;
    }
    .register-heading{
        font-size: 23px;
        margin-top: 60px;
    }
    .btnRegister{
        width: 35%;
    }
    .register .nav-tabs{
        float: left;
        width: 50%;
    }
    .note-p{
        font-size: 13px;
    }
    .register-left p{
        display: none;
    }
}
@media screen and (max-width:767px){
    .register-left img{
        width: 25%;
    }
}
.register-left a{
    color: #fff;
}
.register-left a:hover{
    color: #fff;
}
.register-right marquee{
    color: red;
    font-size: 18px;
}